<!--Secao  - container de conteúdo-->
<section class="container-fluid">
    <div class="row"><!--Linha 01 da seção de conteúdo-->

        <!--Menu lateral demonstração de categoria de produtos e outros itens-->
        <aside class="col-lg-2 col-md-2 col-sm-3" >
            <div class="list-group" id="menu-sidebar">
                #recipe-for-sidebar-links#      
            </div>
        </aside>
        <!--FIM do menu lateral-->


        <section class="col-lg-10 col-md-10 col-sm-9 col-xs-12" id="content"> <!--EFETIVAMENTE ONDE FICAM OS ITENS DE CONTEÚDO-->

            #recipe-for-single-product#               

    </div>

</section>